.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  #submit-button {
    background-color: #007bff;
    border-color: #007bff;
  }
  
#login-button {
    margin-top: 2px;
}