<div class="case-detail">
    <h2>Case Details</h2>
    <div *ngIf="caseDetails" class="case-card">
      <p><strong>Case ID:</strong> {{ caseDetails.case_id }}</p>
      <p><strong>Category:</strong> {{ caseDetails.category }}</p>
      <p><strong>Purpose of Visit:</strong> {{ caseDetails.purpose_of_visit }}</p>
      <p><strong>Case Type:</strong> {{ caseDetails.case_type }}</p>
      <p><strong>Practice Location:</strong> {{ caseDetails.practice_location }}</p>
      <p><strong>Insurance Name:</strong> {{ caseDetails.insuranceName }}</p>
      <p><strong>Firm Name:</strong> {{ caseDetails.firmName }}</p>
      <p><strong>DOA:</strong> {{ caseDetails.doa }}</p>
      <p><strong>Appointment Date & Time:</strong> {{ caseDetails.appointment_date }}</p>
      <p><strong>Doctor Name:</strong> {{ caseDetails.doctor }}</p>
    </div>
  </div>
  