<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form [formGroup] = 'loginForm' (ngSubmit) = "onSubmit()">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName = 'email' required>
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName = 'password' required>
            </div>

            <div *ngIf="errorMessage" class="errorMessage">
                <p class="text-danger text-center">
                    {{ errorMessage }}
                </p>
            </div>

            

            <div class="button-group">
                <button type="submit" class="login-button">Login</button>

                <button  type="button" class="forgot-password-button" (click)="onForgotPassword()">Forgot Password?</button>
            </div>

            <div class="signup-group">
                <a routerLink="/register">Click here to register</a>
            </div>
        </form>
    </div>
</div>